<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipsetrader.core.connectors">
      <connector
            class="org.eclipsetrader.yahoo.internal.core.connector.FeedConnector"
            id="org.eclipsetrader.core.yahoo.connector"
            name="Yahoo! Finance">
      </connector>
      <backfill
            class="org.eclipsetrader.yahoo.internal.core.connector.BackfillConnector"
            id="org.eclipsetrader.core.yahoo.backfill"
            name="Yahoo! Finance">
      </backfill>
      <property
            id="org.eclipsetrader.yahoo.symbol"
            name="Symbol">
      </property>
   </extension>

</plugin>
