<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipsetrader.repository.hibernate.connectivity" name="Hibernate Database Enablement" schema="schema/connectivity.exsd"/>
   <extension
         point="org.eclipsetrader.core.repositories">
      <provider
            class="org.eclipsetrader.repository.hibernate.HibernateRepositoryProvider">
      </provider>
   </extension>

</plugin>
